*{
    font-family: Figtree;
    font-size: 0.9rem;
}

body {
    display: flex;
    background-color: hsl(47, 88%, 63%);
    font-weight: 25rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

p, h1, h2, h3 {
    overflow-wrap: break-word;
}

.wrapper {
    max-width: max-content;
    min-width: fit-content;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    border: 1rem;
    padding: 1rem;
    box-shadow: 0.5em 0.5em hsl(0, 0%, 7%);
    border: 0.05rem hsl(0, 0%, 7%) solid;
}

.wrapper .image {
    border-radius: 1rem;
}

.box {
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 0.3rem 0.6rem;
    margin: 1.5rem 0rem;
    border-radius: 0.5rem;
}

h2 {
    padding: 0.1rem 0rem;
    color: hsl(0, 0%, 7%);
    font-size: 1.6rem;
}

h2:hover {
    color: hsl(47, 88%, 63%);
}

.date{
    color: hsl(0, 0%, 7%);
    padding: 0em;
}

p {
    padding: 0.5rem 0rem;
    color: hsl(0, 0%, 42%);
    text-align: left;
}

.dp {
    float: left;
    width: 2rem;
}

.name {
    padding: 0.3rem 2.5rem;
    padding-bottom: 0rem;
    color: hsl(0, 0%, 7%);
}

